body{
    font-family: 'Titillium Web', sans-serif;
}
h1 {front-size: 66px; font-weight: 600; line-height: 80px;}
h2 {font-size: 48px; margin-bottom: 30px;}
p{
    font-size: 18px;
    color:rgb(255, 255, 255);
    line-height: 1.8;
    margin-bottom: 0;
}

.navbar{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    min-height: 100px;
}
.nav-link{ color: blue}

.logo-brand{
    min-width: 100px;
    max-width: 120px;
}
.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0,2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}
.container .card img{
    width: 330px;
    height: 220px;
}
.container .card h4{
    font-weight: 600px;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color:crimson;
}
.container .card a{
    font-weight: 500;
    text-decoration: none;
    color:blue;
}